* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}


hr {
    width: 200px;
    height: 5px;
    background: #fff;
    border: none;
    border-radius: 10px;
}


li {
    list-style: none;
}

body {
    background: #DBDBDB;
}


.h2-style {
    color: #000;
}

/*NAVBAR*/

.navbar-contain {
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: #F2F2F2;
    margin-bottom:20px ;
    position:fixed;
    z-index: 500;
}

.navbar__ul {
    display: flex;
    gap: 40px;
    margin-left: 80px;
}

.navbar__li i {
    padding-right: 15px;
}


/*MAIN*/

.main-contain {
    width: 95%;
    height: auto;
    margin: auto;
    background: #fff;
    background: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
}

.main__hero {
    width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 15px;
    background: #4E4AD9;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.h1__style {
    display: block;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 24pt;
    color: #f2f2f2;
}

.hero__contain {
    width: 95%;
    height: 85%;
    background: #777df2;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*CONTENEDOR DEL PRODUCTO*/

.contain__box {
    width: 250px;
    height: 310px;
    margin: 0px 0px 10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;

}

.box__img {
    width: 250px;
    height: 190px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}


.box__img img {
    width: 150px;
    height: 100%;
    object-fit: contain;
}

.box__button {
    display: flex;
    gap: 15px;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: #777df2;
}

.link:hover {
    color: #4E4AD9;
}

.btn__primary {
    padding: 4px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #777df2;
    font-weight: 600;
    cursor: pointer;
}

.btn__primary:hover {
    color: #ffffff;
}

.btn__primary--color {
    color: #007cec;
}

.btn__primary--color:hover {
    color: #65b7ff;
}


.box__description {
    width: 100%;
    height: 120px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    background: #4E4AD9;
    gap: 15px;
    position: absolute;
    top: 70px;
    transition: all 300ms;
    
}

span {
    color: #fff;
    font-weight: 700;

}


.box__img:hover {
    border-radius: 10px 10px 0px 0px;
}

.contain__box:hover > .box__img {
    border-radius: 10px 10px 0px 0px;
}

.contain__box:hover > .box__description {
    top: 60%;
    padding-bottom: 50px;
}

/*TIENDAS OFICIALES/PROVEDORES*/

.h1__style--color {
    color: #4E4AD9;
    margin: 40px 0px 0px 0px;
}

.official-stores {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 30px;
    background: #ececec;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.store-container {
    width: 300px;
    height: 70%;
    background: #ececec;
    border-radius: 10px;
    box-shadow: 0px 1px 16px -6px rgba(0,0,0,0.75);
    margin-top: 30px;
    transition: box-shadow 200ms ease;

}

.store-container:hover {
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.store__img {
    width: 100%;
    height: 100px;
    background: url(/public/img/banner-funkos.jpg);
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    margin-bottom: 60px;
}

.store__text {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.store__btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}


.store__logo {
    width: 100px;
    height: 100px;
    background: url(/public/img/logo-funko.png);
    background-size: cover;
    position: absolute;
    left: 100px;
    top: 50px;
    box-shadow: 1px -1px 7px 0px rgba(0,0,0,0.75);
}

.store__img--bg {
    background: url(/public/img/banner-lego.jpg);
    background-size: contain;
}

.store__logo--img {
    background: url(/public/img/LEGO_logo.png);
    background-size: contain;
}

.store__img--bg2 {
    background: url(/public/img/hasbro--banner.jpg) no-repeat;
    background-size: cover;
}

.store__logo--img2 {
    background: url(/public/img/Hasbro_Logo.png) #fff;
    background-size: contain;
}




/*FOOTER*/

.footer {
    width: 100%;
    height: 20vh;
    margin-top: 20px;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer__list {
    display: flex;
    gap: 20px;

}

.copyright {
    color: #4E4AD9;
    font-weight: 600;
}